section {
  &.home {
    text-align: center;
    ul {
      margin-top: 30vh;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      a {
        display: flex;
        flex-direction: column;
        color: #333333;
        text-decoration: none;
        font-size: 1.5em;
        transition: all .3s;
        

        img {
          height: 5em;
          margin-bottom: 1em;
          transition: all .3s;
        }

        &:hover {
          text-decoration: underline;

          img {
            transform: scale(1.1);
          }
        }
      }

      .off {
        filter: grayscale(100%);
        a:hover {
          text-decoration: none;
          img {
            transform: scale(.95);
          }
        }
      }
    }
  }
}