.large-text {
  font-size: 50px;
}

.larger-text {
  font-size: 75px;
}

.text {
  font-size: 21px;
}

.small-text {
  font-size: 14px;
}

.under-title {
  opacity: 0;
}

.bold {
  font-weight: bold;
}
