@charset "UTF-8";
/* base styles */
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

ul, ol {
  padding: 0;
  margin: 0;
  list-style: none; }

img {
  max-width: 100%; }

fieldset {
  padding: 0;
  margin: 0;
  border: 0; }
  fieldset legend {
    padding: 0; }

body {
  max-height: 100vh;
  font-family: 'Work Sans', sans-serif; }
  body h1 {
    font-size: 5vw;
    top: 1em;
    left: 15vw;
    position: absolute;
    margin: 0; }
  body p {
    margin: 0; }

button.back-button {
  position: absolute;
  top: 1em;
  left: 1em;
  font-family: 'Work Sans', sans-serif;
  border: none;
  background-color: #333333;
  border-radius: .5em;
  color: #ffffff;
  padding: 1em 2em;
  transition: all .3s; }
  button.back-button:before {
    content: 'â† '; }
  button.back-button:hover {
    opacity: .5;
    cursor: pointer; }

button.hidden {
  opacity: 0;
  display: none; }

/* component styles */
section.home {
  text-align: center; }
  section.home ul {
    margin-top: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    section.home ul a {
      display: flex;
      flex-direction: column;
      color: #333333;
      text-decoration: none;
      font-size: 1.5em;
      transition: all .3s; }
      section.home ul a img {
        height: 5em;
        margin-bottom: 1em;
        transition: all .3s; }
      section.home ul a:hover {
        text-decoration: underline; }
        section.home ul a:hover img {
          transform: scale(1.1); }
    section.home ul .off {
      filter: grayscale(100%); }
      section.home ul .off a:hover {
        text-decoration: none; }
        section.home ul .off a:hover img {
          transform: scale(0.95); }

svg {
  background: #ededed;
  box-shadow: .1em .1em .1em #ededed; }
  svg #infinity {
    fill: none;
    stroke: #333333;
    stroke-width: 5; }
  svg #circlePath {
    opacity: 1;
    transition: all 1s;
    transition-delay: 1s; }
  svg #info circle:hover {
    fill: #fcb25d;
    cursor: pointer; }
  svg #infoBox polygon {
    opacity: 0;
    transform-origin: 0px 0px 0px;
    z-index: 3; }
  svg #lettuce g.green:hover {
    cursor: pointer; }
    svg #lettuce g.green:hover path {
      opacity: .5; }
  svg.hidden .st6, svg.hidden #circlePath, svg.hidden #infoBox {
    display: none;
    opacity: 0; }
  svg #lettuce .green.hidden, svg #catfish.hidden {
    opacity: 0; }
  svg.hidden #lettuce g.green:hover {
    cursor: default; }
    svg.hidden #lettuce g.green:hover .st10 {
      fill: #44AF69;
      opacity: 1; }
    svg.hidden #lettuce g.green:hover .st11 {
      fill: #44AF69;
      opacity: .6; }
  svg .infoText {
    opacity: 0; }
  svg .message {
    opacity: 0; }
    svg .message .arrow {
      fill: none;
      stroke: #000000;
      stroke-width: 2;
      stroke-miterlimit: 10; }
  svg .poo {
    fill: #854D27; }
  svg .bacteria {
    fill: #BF211E; }
  svg .water {
    fill: #29ABE2; }
  svg .pipe {
    fill: none;
    stroke: #333333;
    stroke-width: 5;
    stroke-linecap: round;
    stroke-miterlimit: 10; }
  svg .filter {
    fill: none;
    stroke: #333333;
    stroke-width: 5.9687;
    stroke-miterlimit: 10; }
  svg .filter1 {
    fill: none;
    stroke: #333333;
    stroke-width: 5.9687;
    stroke-miterlimit: 10;
    stroke-dasharray: 5.1667, 5.1667; }
  svg .st0 {
    fill: #29ABE2; }
  svg .st1 {
    fill: none;
    stroke: #0071BC;
    stroke-width: 5;
    stroke-miterlimit: 10; }
  svg .st2 {
    fill: #C69C6D; }
  svg .st3 {
    fill: none;
    stroke: #A67C52;
    stroke-width: 5;
    stroke-miterlimit: 10; }
  svg .st4 {
    fill: none;
    stroke: #333333;
    stroke-width: 15; }
  svg .st5 {
    fill: #F7931E;
    stroke: #ededed;
    stroke-width: 5;
    stroke-miterlimit: 10; }
  svg .st6 {
    fill: #333333;
    stroke: #ededed;
    stroke-width: 5; }
  svg .st7 {
    fill: #FFFFFF;
    stroke: #333333;
    stroke-width: 5.9687;
    stroke-miterlimit: 10; }
  svg .st8 {
    fill: #2274A5;
    opacity: .6; }
  svg .st9 {
    fill: #854D27;
    opacity: .6; }
  svg .st10 {
    fill: #44AF69; }
  svg .st11 {
    fill: #44AF69;
    opacity: .6; }
  svg .st12 {
    fill: none;
    stroke: #6B5648;
    stroke-width: 5;
    stroke-linecap: round;
    stroke-miterlimit: 10; }
  svg .st13 {
    fill: none;
    stroke: #6B5648;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-miterlimit: 10; }
  svg .st14 {
    fill: none;
    stroke: #6B5648;
    stroke-width: 4;
    stroke-linecap: round;
    stroke-miterlimit: 10; }
  svg .active {
    fill: #F7931E; }

section.intro {
  position: absolute;
  background: none;
  left: 20%;
  top: 12vw; }
  section.intro > p {
    width: 30vw;
    font-size: 1.5vw;
    line-height: 1.5em; }
  section.intro.hidden {
    opacity: 0;
    display: none; }

section.outro {
  position: absolute;
  background: none;
  left: 30%;
  top: 12vw; }
  section.outro > p {
    width: 30vw;
    font-size: 1.5vw;
    line-height: 1.5em; }
  section.outro > h2 {
    margin: 4vw 0;
    font-size: 4vw; }
  section.outro.hidden {
    opacity: 0;
    display: none; }

.large-text {
  font-size: 50px; }

.larger-text {
  font-size: 75px; }

.text {
  font-size: 21px; }

.small-text {
  font-size: 14px; }

.under-title {
  opacity: 0; }

.bold {
  font-weight: bold; }

span {
  position: absolute;
  top: 30vw;
  left: 50%;
  opacity: .5; }
  span img {
    height: 2vw; }
  span p {
    text-align: center;
    font-size: 1vw;
    width: 10vw;
    margin-bottom: 1em; }
  span.hidden {
    opacity: 0;
    display: none; }

.landscape-only {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1001;
  background: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FF4343;
  font-weight: 600;
  display: none; }
  .landscape-only img {
    margin-bottom: 0.5rem; }

@media screen and (orientation: portrait) and (max-width: 37.5rem) {
  .landscape-only {
    display: flex; } }
